header {
  align-items: center;
  background: linear-gradient(90deg, rgba(42, 42, 42, 1) 0%,
   rgba(49, 49, 49, 1) 20%,
    rgba(49, 49, 49, 1) 80%,
     rgba(45, 45, 45, 1) 100%);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  height: 60px;
  width: 100%;
}

.logo {
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
  opacity: 90%;
  width: 40px;
}

.mcl-title {
  color: whitesmoke;
  font-size: 24px;
  font-weight: 800;
  margin-left: 8px;
  min-width: 260px;
}

.search-bar {
  background: ghostwhite url('/images/search-icon.svg') no-repeat scroll 6px 4px;
  border: 0;
  border-radius: 6px;
  font-size: 14px;
  height: 30px;
  margin: 0 50px 0 auto;
  padding: 5px 5px 5px 35px;
  width: 250px;
}

.search-bar:focus {
  background-color: aliceblue;
  outline: none;
}

.search-icon {
  position: absolute;
}
