.movie-card-container {
  align-items: center;
  background-color: whitesmoke;
  border: 0;
  border-radius: 10px;
  box-shadow: 12px 12px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 25px 0;
  min-height: 465px;
  width: 390px;
}

.movie-image {
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  height: auto;
  margin: 10px 0 0;
  transition: transform 0.5s ease;
  user-select: none;
  width: 355px;
}

.movie-image:hover {
  transform: scale(1.1);
}

.h-rule {
  background-color: #a2a2a2;
  border: 0;
  border-radius: 6px;
  height: 3px;
  margin: 5px 0;
  width: 130px;
}

.movie-info {
  min-height: 180px;
  padding: 0 30px;
}

p, h5 {
  margin: 11px 0;
}

p {
  font-size: 15px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 14px;
  font-weight: 300;
}

.subtitle {
  color: #666;
  font-size: 11px;
}
