.label-form {
  display: block;
}

.form {
  margin: 30px 30px 0;
}

input, select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 12px 20px;
  width: 100%;
}

.input-checkbox {
  margin: 0 15px;
}
