* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  box-sizing: border-box;
  font-size: 16px;
}

.rating {
  background-color: #6767ff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.result {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  color: #333;
  font-weight: 300;
  font-size: 28px;
}

.genre {
  margin-right: 10px;
  font-weight: 400;
}

.division {
  background-color: #adadad;
  display: inline-block;
  width: 2px;
  height: 20px;
  margin: 0 6px;
}